<template>



  <div class='container'>

    <div class="row">
      <div v-if="events" class="col">

        <b-media>
          <img slot="aside" blank blank-color="#abc" :src="'http://104.131.122.192:3001/display?w=300&h=350&path='+selected.Id+'/original/'+selected.Img_file_name+'&op=thumbnail'" class="img-thumbnail" alt="placeholder" />
          <h5 class="mt-0 mb-1">{{selected.Name}} {{selected.Phone}}</h5>
          {{selected.Age}}v

        </b-media>

      </div>

      <div v-if="events" class="col">

        <div class="row">
          <div class="col">
            <img v-on:click='selectData(events[0])' :src="'http://104.131.122.192:3001/display?w=200&h=250&path='+events[0].Id+'/original/'+events[0].Img_file_name+'&op=thumbnail'" alt="..." class="img-thumbnail">
          </div>

          <div class="col">
            <img v-on:click='selectData(events[1])' :src="'http://104.131.122.192:3001/display?w=200&h=250&path='+events[1].Id+'/original/'+events[1].Img_file_name+'&op=thumbnail'" alt="..." class="img-thumbnail">
          </div>
          <div class="col">
            <img v-on:click='selectData(events[2])' :src="'http://104.131.122.192:3001/display?w=200&h=250&path='+events[2].Id+'/original/'+events[2].Img_file_name+'&op=thumbnail'" alt="..." class="img-thumbnail">
          </div>
        </div>

        <div class="row">
          <div class="col">
            <img v-on:click='selectData(events[3])' :src="'http://104.131.122.192:3001/display?w=200&h=250&path='+events[3].Id+'/original/'+events[3].Img_file_name+'&op=thumbnail'" alt="..." class="img-thumbnail">
          </div>
          <div class="col">
            <img v-on:click='selectData(events[4])' :src="'http://104.131.122.192:3001/display?w=200&h=250&path='+events[4].Id+'/original/'+events[4].Img_file_name+'&op=thumbnail'" alt="..." class="img-thumbnail">
          </div>
          <div class="col">
            <img v-on:click='selectData(events[5])' :src="'http://104.131.122.192:3001/display?w=200&h=250&path='+events[5].Id+'/original/'+events[5].Img_file_name+'&op=thumbnail'" alt="..." class="img-thumbnail">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <img v-on:click='selectData(events[6])' :src="'http://104.131.122.192:3001/display?w=200&h=250&path='+events[6].Id+'/original/'+events[6].Img_file_name+'&op=thumbnail'" alt="..." class="img-thumbnail">
          </div>
          <div class="col">
            <img v-on:click='selectData(events[7])' :src="'http://104.131.122.192:3001/display?w=200&h=250&path='+events[7].Id+'/original/'+events[7].Img_file_name+'&op=thumbnail'" alt="..." class="img-thumbnail">
          </div>
          <div class="col">
            <img v-on:click='selectData(events[8])' :src="'http://104.131.122.192:3001/display?w=200&h=250&path='+events[8].Id+'/original/'+events[8].Img_file_name+'&op=thumbnail'" alt="..." class="img-thumbnail">
          </div>
        </div>
      </div>

    </div>

    <!-- <ul class="list-unstyled" v-for="event in events" :key="event.Name">
      <b-media tag="li">
        <img slot="aside" blank blank-color="#abc" :src="'http://104.131.122.192:3001/display?w=200&h=250&path='+event.Id+'/original/'+event.Img_file_name+'&op=thumbnail'" alt="placeholder" />
        <h5 class="mt-0 mb-1">{{event.Name}} {{event.Phone}}</h5>
        {{event.Age}}v

      </b-media>
    </ul> -->
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data: function () {
    return {
      events: false,
      selected: Object
    }
  },
  created: function () {
    this.fetchData()
  },

  methods: {

    fetchData: function () {
      this.$http.get('http://104.131.122.192:8000/api').then(function (response) {
        this.events = response.data
        this.selected = response.data[9]
      }, function (error) {
        console.log(error.statusText)
      })
    },
    selectData: function (selectedData) {
      this.selected = selectedData
      this.$http.get('http://104.131.122.192:8000/api').then(function (response) {
        this.events = response.data
        // this.selected = response.data[9]
      }, function (error) {
        console.log(error.statusText)
      })
    }

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
} */
</style>
